<h1>Step1</h1>

<p>The is the first step of registration</p>

<p>Login: <input type="text" name="fname" [value]="login"></p>
<p>Agree: <strong>{{ login }}</strong></p>


<p>Login2: <input type="text" name="fname" [value]="bankAccount"></p>
<p>Agree2: <strong>{{ bankAccount }}</strong></p>

<!--<p>Password: <strong>{{ currentCount }}</strong></p>
<p>Confirm Password: <strong>{{ currentCount }}</strong></p>
<p>Agree: <strong>{{ currentCount }}</strong></p>-->

<button (click)="incrementCounter()">Increment</button>
